

@font-face {
    font-family: 'Dosis', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
        
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
       font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5psprd');
  src:  url('../fonts/icomoon.eot?5psprd#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5psprd') format('truetype'),
    url('../fonts/icomoon.woff?5psprd') format('woff'),
    url('../fonts/icomoon.svg?5psprd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-user:before {
  content: "\f007";
}
.icon-check:before {
  content: "\f00c";
}
.icon-home:before {
  content: "\f015";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-image:before {
  content: "\f03e";
}
.icon-photo:before {
  content: "\f03e";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook1:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-files-o:before {
  content: "\f0c5";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-clipboard:before {
  content: "\f0ea";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-cutlery:before {
  content: "\f0f5";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-shield:before {
  content: "\f132";
}
.icon-calendar-o:before {
  content: "\f133";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-file-text:before {
  content: "\f15c";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-mortar-board:before {
  content: "\f19d";
}
.icon-automobile:before {
  content: "\f1b9";
}
.icon-car:before {
  content: "\f1b9";
}
.icon-pinterest-p:before {
  content: "\f231";
}
.icon-gg:before {
  content: "\f260";
}
.icon-shopping-basket:before {
  content: "\f291";
}


// .icon-envelope-o:before {
//   content: "\f003";
// }
// .icon-heart:before {
//   content: "\f004";
// }
// .icon-user:before {
//   content: "\f007";
// }
// .icon-check:before {
//   content: "\f00c";
// }
// .icon-home:before {
//   content: "\f015";
// }
// .icon-clock-o:before {
//   content: "\f017";
// }
// .icon-align-justify:before {
//   content: "\f039";
// }
// .icon-list:before {
//   content: "\f03a";
// }
// .icon-image:before {
//   content: "\f03e";
// }
// .icon-photo:before {
//   content: "\f03e";
// }
// .icon-picture-o:before {
//   content: "\f03e";
// }
// .icon-map-marker:before {
//   content: "\f041";
// }
// .icon-edit:before {
//   content: "\f044";
// }
// .icon-pencil-square-o:before {
//   content: "\f044";
// }
// .icon-arrow-left:before {
//   content: "\f060";
// }
// .icon-arrow-right:before {
//   content: "\f061";
// }
// .icon-leaf:before {
//   content: "\f06c";
// }
// .icon-calendar:before {
//   content: "\f073";
// }
// .icon-chevron-down:before {
//   content: "\f078";
// }
// .icon-phone:before {
//   content: "\f095";
// }
// .icon-twitter:before {
//   content: "\f099";
// }
// .icon-facebook1:before {
//   content: "\f09a";
// }
// .icon-facebook-f:before {
//   content: "\f09a";
// }
// .icon-globe:before {
//   content: "\f0ac";
// }
// .icon-copy:before {
//   content: "\f0c5";
// }
// .icon-files-o:before {
//   content: "\f0c5";
// }
// .icon-envelope:before {
//   content: "\f0e0";
// }
// .icon-linkedin:before {
//   content: "\f0e1";
// }
// .icon-comments-o:before {
//   content: "\f0e6";
// }
// .icon-clipboard:before {
//   content: "\f0ea";
// }
// .icon-paste:before {
//   content: "\f0ea";
// }
// .icon-cutlery:before {
//   content: "\f0f5";
// }
// .icon-angle-double-right:before {
//   content: "\f101";
// }
// .icon-shield:before {
//   content: "\f132";
// }
// .icon-calendar-o:before {
//   content: "\f133";
// }
// .icon-unlock-alt:before {
//   content: "\f13e";
// }
// .icon-file-text:before {
//   content: "\f15c";
// }
// .icon-skype:before {
//   content: "\f17e";
// }
// .icon-graduation-cap:before {
//   content: "\f19d";
// }
// .icon-mortar-board:before {
//   content: "\f19d";
// }
// .icon-automobile:before {
//   content: "\f1b9";
// }
// .icon-car:before {
//   content: "\f1b9";
// }
// .icon-pinterest-p:before {
//   content: "\f231";
// }
// .icon-gg:before {
//   content: "\f260";
// }
// .icon-shopping-basket:before {
//   content: "\f291";
// }
// @font-face {
//   font-family: 'icomoon';
//   src:  url('fonts/icomoon.eot?5nko6r');
//   src:  url('fonts/icomoon.eot?5nko6r#iefix') format('embedded-opentype'),
//     url('fonts/icomoon.ttf?5nko6r') format('truetype'),
//     url('fonts/icomoon.woff?5nko6r') format('woff'),
//     url('fonts/icomoon.svg?5nko6r#icomoon') format('svg');
//   font-weight: normal;
//   font-style: normal;
//   font-display: block;
// }

// [class^="icon-"], [class*=" icon-"] {
//   /* use !important to prevent issues with browser extensions that change fonts */
//   font-family: 'icomoon' !important;
//   speak: never;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;

//   /* Better Font Rendering =========== */
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

