html {
    box-sizing: border-box;
    height: 100%;
}

 *,
 *::before,
 *::after {
     box-sizing: inherit;
 }
 .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1900px;
    
}   
 
 a{
     display: inline-block;
     text-decoration: none;
     color: inherit;
     outline: none;
     cursor: pointer;
 }
 

 ul,
 li,
 h1, h2, h3, h4, h5,p{
     margin: 0;
     padding: 0;
     list-style: none;
 }
 h1, h2, h3, h4, h5 {
    font-family: "Dosis";
    font-weight: bold;
 }
 
 button {
    outline: none;
 }
 
 body {
    font-family: 'Dosis';
    font-weight: 400;
    font-size: 15px;   
     height: 100%; 
    
      }
  .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 5px;
  }
  .content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
  .line {
      display:flex;
      justify-content: center;    
      &__item {        
          width: 160px;
          height: 6px;          
      }
  }
  h1 {
      font-size: 52px;
      
  }
  h2 {
      font-size: 36px; 
       
  }
  h3 {
    font-size: 32px;   
    font-weight: 600; 
  }
  h4 {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 0.917;    
 }
 h5 {
     font-size: 20px;
     color: #fff;
     font-family: 'Open Sans', sans-serif;
     }
     
 p {
    font-family: 'Open Sans', sans-serif;
 }

  .bg--yellow {
    background-color: $yellow;
   } 
   .font-yellow {
       color: $yellow;
   }
   .bg--green {
    background-color: $green;
   }  
   .font-green {
    color: $green;
}
   .bg--red {
    background-color: $red;
   } 
   .font-red {
    color: $red;
} 
   .bg--blue {
    background-color: $blue;
   } 
   .font-blue {
    color: $blue;
} 
   .bg--violet {
    background-color: $violet;
   }  
   .font-violet {
    color: $violet;
}
   .bg--pink {
    background-color: $pink;
   } 
   .font-pink {
    color: $pink;
}    
.border-yellow {
    border: 3px solid $yellow;
   
}
.border-green {
    border: 3px solid $green;
   
}
.border-blue {
    border:3px solid $blue;
    &__inner {
        // @include flex;
        color: #fff;
    }
   
}
   .title-block {
       text-align: center;
       background-image: url(../images/title_background.png);
       background-size:contain;
       background-position: center;
       background-repeat: no-repeat;
       width: 360px;
       margin: 0 auto 30px; 
     
   }
   .title-decor {     
    color: $red;
   }  
 
  .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 215px;
    display: block;
    width: 50px;
    height: 50px;
    color: black;
    border-radius: 9px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
.slick-next::before,
.slick-prev::before  {   
        font-family: 'icomoon';
        color:rgb(102, 102, 102);
        font-size: 16px;    
}
.slick-next {
    right: 30px;
    &::before {
        content: "\f061";
    }
}
.slick-prev {
    left: 30px;
    &::before {
        content: "\f060";
    }
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover, 
.slick-next:focus {    
    background: white;  
}

.btn {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);   
    outline: none;
    border: none;    
    transition: all 0.3s;
    @include btn-font;
    &.mixitup-control-active {
        background-color: $red;
        color: #fff;
    }
}

.view-more {
    padding:  15px 25px;
    border-radius: 5px;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
    background-color: $red;
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}  

.menu-btn {
    display: none;
    width: 50px;
    height: 50px;
    background-color: $green;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
}
.icon-align-justify::before {
    font-size: 36px;
    color: #fff;

    }
.icon-shopping-basket {
    span {
        position: absolute;
        top: -9999px;
        left: -9999px;
        text-indent: 100%;
        overflow: hidden;
    }
}

// .menu-list {                
//         @include flex;
//         li {
           
//              a {
//                 transition: all 0.5s;
//             }
//            & + li{
//             margin-left: 30px;
//            } 
//            &.contact-us {
//             margin-left: 40px;
//         }
//         &.home {
//             margin-right: 5px;
//         }
//         a:hover,
//         a:active {
//             color: $blue_fonts;                    
//         }
       
//         }  
//     }

//
// form {

//     .input-inner {
//         @include flex;
//         flex-wrap: wrap;
//     }
//     input {
//         padding: 15px 22px;
//         border: 1px solid #ebebeb; 
//         outline-color: $blue_fonts;       
//         &::placeholder{
//             font-family: 'Open Sans Light';    
//         }
        
//     }
//     textarea {
//         width: 100%;
//         border: 1px solid #ebebeb;
//         padding: 15px;
//         color: #6f6f6f; 
//         font-family: 'Open Sans Light';       
//     outline-color: $blue_fonts;
//     }
       
//     button {
//         @include btn-font;
//         border: none;
//     }
// }



