html {
    box-sizing: border-box;
    height: 100%;
  
}
    

 *,
 *::before,
 *::after {
     box-sizing: inherit;
 }
 
 a{
     display: inline-block;
     text-decoration: none;
     color: inherit;
     outline: none;
     cursor: pointer;
 }
 

 ul,
 li,
 h1, h2, h3, h4, h5,p{
     margin: 0;
     padding: 0;
     list-style: none;
 }
 h1, h2, h3, h4, h5 {
    font-family: "Dosis";
    font-weight: bold;
 }
 
 button {
    outline: none;
 }
 
 body {
    font-family: 'Dosis';
    font-weight: 400;
    font-size: 15px;   
     height: 100%; 
    
      }
  .container {
      max-width: 1200px;
      margin: 0 auto;
  }

  .content {
      max-width: 1900px;
  }
  .line {
      display:flex;
      justify-content: center;    
      &__item {        
          width: 160px;
          height: 6px;          
      }
  }
  h1 {
      font-size: 52px;
      
  }
  h2 {
      font-size: 36px; 
      font-weight: 800;    
  }
  h3 {
    font-size: 32px;   
    font-weight: 600; 
  }
  h4 {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 0.917;
    
 }
  .title-decor {     
    width: 186px;
    color: $red;
    text-align: center;   
   
    &::before,
    &::after {
       position: absolute;
       top: 35%;
       content: '';        
       width: 17px;
       height: 17px;
       border-radius: 50%;         
       background-color: $blue;
  }
  &::before {
    left: 49px;
 }
 &::after {
    right: 49px;
 }
 }

  .bg--yellow {
    background-color: $yellow;
   } 
   .font-yellow {
       color: $yellow;
   }
   .bg--green {
    background-color: $green;
   }  
   .font-green {
    color: $green;
}
   .bg--red {
    background-color: $red;
   } 
   .font-red {
    color: $red;
} 
   .bg--blue {
    background-color: $blue;
   } 
   .font-blue {
    color: $blue;
} 
   .bg--violet {
    background-color: $violet;
   }  
   .font-violet {
    color: $violet;
}
   .bg--pink {
    background-color: $pink;
   } 
   .font-pink {
    color: $pink;
}    
   .title-block {
       position: relative;
       width: 360px;
       display: flex;
       justify-content: center;
       margin: 0 auto 30px;
   }   
   .decor-line {  
    width:50px;
    height: 2px;
    background-color: $blue;
    &--left,
    &--right {
       position: absolute;
       top: 50%;
       &::before{
          content: '';
          position: absolute;
          width: 40px;
          border-bottom: 2px solid $blue;
          top: 3px;
       }
    }
    &--right{    
      right: 0px;     
      &::before{
         left: -2px;
      }
    } &--left{      
        left: 0px;        
        &::before{         
          right: -2px;
       }
      }
     
 }
 
  .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 215px;
    display: block;
    width: 50px;
    height: 50px;
    color: black;
    border-radius: 9px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
.slick-next::before,
.slick-prev::before  {   
        font-family: 'icomoon';
        color:rgb(102, 102, 102);
        font-size: 16px;    
}
.slick-next {
    right: 30px;
    &::before {
        content: "\f061";
    }
}
.slick-prev {
    left: 30px;
    &::before {
        content: "\f060";
    }
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover, 
.slick-next:focus {    
    background: white;  
}

.btn {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);   
    outline: none;
    border: none;    
    transition: all 0.3s;
    @include btn-font;
    &.mixitup-control-active {
        background-color: $red;
        color: #fff;
    }
}

.view-more {
    padding:  15px 25px;
    border-radius: 5px;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
    background-color: $red;
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;

}

  

// .menu-list {                
//         @include flex;
//         li {
           
//              a {
//                 transition: all 0.5s;
//             }
//            & + li{
//             margin-left: 30px;
//            } 
//            &.contact-us {
//             margin-left: 40px;
//         }
//         &.home {
//             margin-right: 5px;
//         }
//         a:hover,
//         a:active {
//             color: $blue_fonts;                    
//         }
       
//         }  
//     }

// .navigation {
    
//     padding: 23px 0;
//     background-color: $blue_bg;
//     &__inner {
//         @include flex;
//         align-items: center;
//     }
//     h2 {
//         color: #fff;
//         margin-bottom: 0;
//         line-height: 24px;
//     }
// }
// // h1 {
// //     font-size: 35px;
// //     margin-bottom: 20px;
// //     text-transform: uppercase;
// //     font-family: 'Play', sans-serif;
// //     color: $blue_bg;
// //     font-weight: 400;
   
// // }
// // h2 {
// //     font-size: 24px;
// //     margin-bottom: 25px;
// //     text-transform: uppercase;
// //     font-family: 'Play', sans-serif;
// //     font-weight: 400;
// //     color: $blue_bg;
// // }
// // h3 {
// //     font-size: 20px;
// //     text-transform: uppercase;
// //     font-family: 'Play', sans-serif;
// //     font-weight: 800;
// //     color: $blue_bg;
// //     margin-bottom: 30px;

// // }


// form {

//     .input-inner {
//         @include flex;
//         flex-wrap: wrap;
//     }
//     input {
//         padding: 15px 22px;
//         border: 1px solid #ebebeb; 
//         outline-color: $blue_fonts;       
//         &::placeholder{
//             font-family: 'Open Sans Light';    
//         }
        
//     }
//     textarea {
//         width: 100%;
//         border: 1px solid #ebebeb;
//         padding: 15px;
//         color: #6f6f6f; 
//         font-family: 'Open Sans Light';       
//     outline-color: $blue_fonts;
//     }
       
//     button {
//         @include btn-font;
//         border: none;
//     }
// }


// .btn {    
//     &.mixitup-control-active {     
//              position: relative;
//              &::after {
//                  position: absolute;
//                  content: '';
//                  border-bottom:2px solid $blue_bg ;
//                  width: 100%; 
//                  top: 20px;
//                  left: 0px;
//               }        
//        }
//     }
//     .slick-slider {
//         margin: 0 -15px;
//     }
//     .slick-slide {
//         margin: 0 -15px;
        
//         text-align: center;
//         margin: 0 15px;
//     }

//  .breadcrumbs {
   
//     &__list{
//         li{
//             display: inline-block;
//             position: relative; 
            
//             & + li{
//                 padding-left: 24px;
//                   &::before{
//                     content: "\f105";
//                     font-family: 'icomoon';
//                     position: absolute;
//                     left: 8px;
//                     color: #fff;
//                 }
//             } 
//             // &:last-child{
//             //     a,
//             //     span{
//             //         color: $bg;
//             //     }
//             // }       
//         } 
        
//     a {
//         color: #fff;;
//     }

//     }
// }    
